<a href="https://colab.research.google.com/github/hekmat-ashqer/data_science_basics/blob/main/Copy_of_Groupby_Core_assignment_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Groupby Core

author : Hekmat Ashqer

In [ ]:
import pandas as pd

# path for the insurance csv file
file_path = '/content/drive/MyDrive/CodingDojo/01-Fundamentals/Week02/Data/insurance_mod.csv'

# load csv file as data frame

insurance_df = pd.read_csv(file_path)
insurance_df

      age     sex     bmi  children  smoker     region  charges
0      19  female  27.900         0       1  southwest  16885.0
1      18    male  33.770         1       0  southeast   1726.0
2      28    male  33.000         3       0  southeast   4449.0
3      33    male  22.705         0       0  northwest  21984.0
4      32    male  28.880         0       0  northwest   3867.0
...   ...     ...     ...       ...     ...        ...      ...
1333   50    male  30.970         3       0  northwest  10601.0
1334   18  female  31.920         0       0  northeast   2206.0
1335   18  female  36.850         0       0  southeast   1630.0
1336   21  female  25.800         0       0  southwest   2008.0
1337   61  female  29.070         0       1  northwest  29141.0

[1338 rows x 7 columns]

1. What is the average age for the entire data set?

In [ ]:
average_age = insurance_df['age'].mean()
round(average_age,2)

39.21

2. What is the age of the oldest person in the entire data set (the maximum age)?

In [ ]:
max_age = insurance_df['age'].max()
max_age

64

3. What is the age of the youngest person in the entire data set (the minimum age)?

In [ ]:
min_age = insurance_df['age'].min()
min_age

18

4. What is the average for charges for the entire data set?

In [ ]:
avg_charges = insurance_df['charges'].mean()
round(avg_charges,2)

13270.41

5. What is the average for charges grouped by sex?

In [ ]:
avg_charges_by_sex  = insurance_df.groupby('sex')['charges'].mean()
avg_charges_by_sex

sex
female    12569.584592
male      13956.730769
Name: charges, dtype: float64

6. What is the average for charges, grouped by if the person is a smoker?

In [ ]:
avg_charges_by_smoker  = insurance_df.groupby('smoker')['charges'].mean()
avg_charges_by_smoker

smoker
0     8434.260338
1    32050.226277
Name: charges, dtype: float64

7. What is the average for charges grouped by if the person smokes and their sex?

In [ ]:

average_per_group = insurance_df.groupby(['smoker', 'sex'])['charges'].mean()
average_per_group

smoker  sex
0       female     8762.307130
        male       8087.177950
1       female    30678.982609
        male      33042.006289
Name: charges, dtype: float64